@model HomeViewModel
@{
    Layout = "~/Views/Shared/_LayoutWithBanner.cshtml";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h3 class="logo-color">产品中心</h3>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/images/img4.png"/>
    </div>
    <div class="d-flex justify-content-center">
        <span style="font-size: 0.8rem; margin-top: 4px;">我们产品的高质量源于对细节的精确</span>
    </div>
    <div class="prod-nav-container">
        <div class="prod-nav mt-3">
            @for (var i = 0; i < 3; i++)
            {
                <div class="item">
                    @if (Model.ProductCategoryList.ElementAtOrDefault(i) != null)
                    {
                        <a href="/Post/ProductList?categoryId=@Model.ProductCategoryList[i].Id" class="text-light">@(Model.ProductCategoryList[i].Name)</a>
                    }
                    else
                    {
                        <a href="#" class="text-light">暂无</a>
                    }
                </div>
            }
            <div class="item">
                <a href="/Post/ProductCategory" class="text-light">更多分类</a>
            </div>
        </div>
        <div class="d-flex prod-nav-content mt-3">
            @if (Model.Products.ElementAtOrDefault(0) != null)
            {
                <div class="prod-nav-left" style="background-image: url('/content/blog/@Model.Products[0].IconSrc')">
                    <div class="prod-title-box">
                        <a href="/Post/ProductContent/@Model.Products[0].Id" class="text-light">@Model.Products[0].Title</a>
                    </div>
                </div>
            }
            else
            {
                <div class="prod-nav-left">
                    <div class="prod-title-box">
                        <a href="#" class="text-light">暂无</a>
                    </div>
                </div>
            }


            <div class="prod-nav-right ">
                <div class=" d-flex">
                    @for (var i = 1; i < 4; i++)
                    {
                        @if (Model.Products.ElementAtOrDefault(i) != null)
                        {
                            <div class="prod-nav-small" style="background-image: url('/content/blog/@Model.Products[i].IconSrc')">
                                <div class="prod-title-box">
                                    <a href="/Post/ProductContent/@Model.Products[i].Id" class="text-light">@Model.Products[i].Title</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="prod-nav-small">
                                <div class="prod-title-box">
                                    <a href="#" class="text-light">暂无</a>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="d-flex mt-3">
                    @for (var i = 4; i < 7; i++)
                    {
                        @if (Model.Products.ElementAtOrDefault(i) != null)
                        {
                            <div class="prod-nav-small" style="background-image: url('/content/blog/@Model.Products[i].IconSrc')">
                                <div class="prod-title-box">
                                    <a href="/Post/ProductContent/@Model.Products[i].Id" class="text-light">@Model.Products[i].Title</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="prod-nav-small">
                                <div class="prod-title-box">
                                    <a href="#" class="text-light">暂无</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-second-banner mt-3 bg-dark">
</div>

<div class="container">
    <div class="d-flex justify-content-center mt-3">
        <h3 class="logo-color">关于我们</h3>
    </div>
    <div class="d-flex justify-content-center">
        <img src="/images/img4.png"/>
    </div>
    <div class="d-flex justify-content-center">
        <span style="font-size: 0.8rem; margin-top: 4px;">我们产品的高质量源于对细节的精确</span>
    </div>

    <div class="d-flex mt-3">
        <div style="width: 593px;">
            @if (Model.AboutUs != null)
            {
                <span class="mt-2">@Model.AboutUs?.Body ...<a href="/Post/AboutUs" class="more-href">[查看更多]</a></span>
            }

        </div>
        <img src="images/img5.png" style="height: 330px;"/>
    </div>
</div>