<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=1300, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/qiao-styles.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
<div class="bg-white bg-white">
    <div class="d-flex justify-content-between container header-top">
        <div class="input-box search-box">
            <input type="text" class="q-input q-input-s w-100 mb-1 bd-1" placeholder="">
            <i class="i i-search pos-feedback-s"></i>
        </div>
        <div class="">
            <img src="~/images/fandu_logo.png" style="height: 60px;"/>
        </div>
        <div class="right ">
            <span class="header-right-item header-right-fav" onclick="alert('收藏本站,请使用Ctrl+D进行收藏.')"></span>
            <span class="header-right-item header-right-mobile" title="联系方式:13166299000" onclick="alert('联系方式:13166299000')"></span>
            <a href="/Post/ContactUs">
                <span class="header-right-item header-right-shop"></span>
            </a>
        </div>
    </div>
</div>
<div id="navbarMain" class="bg-white sticky-top">
    <div class="container">
        <ul class="web-nav nav justify-content-center ">
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActiveIndex == 0 ? "active" : "")" asp-controller="Home" asp-action="Index">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActiveIndex == 1 ? "active" : "")" asp-controller="Post" asp-action="ProductCategory">产品中心</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActiveIndex == 2 ? "active" : "")" asp-controller="Post" asp-action="Display">空间展示</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActiveIndex == 3 ? "active" : "")" asp-controller="Post" asp-action="NewsList">新闻动态</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActiveIndex == 4 ? "active" : "")" asp-controller="Post" asp-action="AboutUs">关于我们</a>
            </li>
            <li class="nav-item">
                <a class="nav-link @(ViewBag.ActiveIndex == 5 ? "active" : "")" asp-controller="Post" asp-action="ContactUs">联系凡渡</a>
            </li>
        </ul>
    </div>
</div>

@RenderBody()

<footer>
    <div class="container" style="height: 100%">

        <div class="d-flex align-items-stretch" style="height: 100%;">
            <div style="height: 100%;">
                <img src="~/images/logo.png" style="height: 70px; margin-top: -4px;" alt=""/>
            </div>
            <div class="d-flex flex-column flex-grow-1 bd-highlight">
                <div class="d-flex align-items-center "style="height: 100%;">
                    <div class="d-flex flex-column bd-highlight" style="text-align: center; margin: 0 auto;">
                        <div class="p-1 bd-highlight">地址：上海市普陀区XX路XX号303 邮编：12345 电话：130-123456 13888888888 邮箱：xxxx@xx.com</div>
                        <div class="p-1 bd-highlight">©2019-@DateTime.Now.Year 上海凡渡装饰材料有限公司 沪ICP备19047475号</div>
                    </div>
                </div>
            </div>
            <div class=" align-self-center bd-highlight">
                <div class="d-flex ">
                    <p style="writing-mode: vertical-rl;text-orientation: upright;" class="align-self-center mr-1 mb-0">扫一扫</p>
                    <img src="/images/qrcode.jpg" style="width: 86px;height: 86px;"/>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>