@using Web.Areas.Admin.ViewComponents
@model  PagedResult<PostListViewModel> 
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var pagerFilter = (PostPagerRequest) ViewBag.PagerFilter;
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">首页</a>
            </li>
            <li class="breadcrumb-item active">内容列表 </li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">内容列表 </h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header ">
                        <div class="row">
                            <div class="col">
                                <h4>
                                    <a href="/Admin/Post/Edit">
                                        <input type="button" value="新增内容" class="btn btn-primary">
                                    </a>
                                </h4>
                            </div>

                            <div class="col-6 d-flex">
                                <select asp-for="@pagerFilter.PostType" class="form-control mr-2" id="postTypeFilter">
                                    <option value="all" selected>----全部----</option>
                                    <option value="0">新闻</option>
                                    <option value="1">产品</option>
                                    <option value="2">关于我们</option>
                                    <option value="3">联系我们</option>
                                    <option value="4">空间展示</option>
                                    <option value="5">技术支持</option>
                                </select>
                                <input asp-for="@pagerFilter.SearchString" id="searchText" type="text" placeholder="输入搜索的标题" class="mr-3 form-control form-control"/>
                                <input type="button" onclick="search()" class="btn btn-primary" value="搜索"/>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>内容大类</th>
                                    <th>内容小类</th>
                                    <th>名称</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model.Results)
                                    {
                                        <tr>
                                            <th scope="row">@item.Id</th>
                                            <td>@item.PostTypeDisplay</td>
                                            <td>@item.PostCategoryDisplay</td>
                                            <td>@item.Name</td>
                                            <td>@item.CreatedTime.ToString("yyyy-MM-dd HH:mm")</td>
                                            <td>
                                                <a href="/admin/Post/Edit/@item.Id" class="mr-2">
                                                    <input type="button" value="编辑" class="btn btn-primary">
                                                </a>
                                                <input type="button" onclick="deleteConfirm(@item.Id)" value="删除" class="btn btn-secondary">
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>

                        @(await Component.InvokeAsync<PaginationViewComponent>(Model))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
const postTypeSelectorDom=document.getElementById("postTypeFilter");
const searchTextInputDom=document.getElementById("searchText");
function search() {
  let searchUrl=`/admin/Post/List?PostType=${postTypeSelectorDom.value}&&SearchString=${searchTextInputDom.value}`
  window.open(searchUrl,"_self");
}
function deleteConfirm(id) {
  if (window.confirm("确定要删除这条数据吗？")) { 
    window.open(`/admin/Post/Delete/${id}`);
  }
}
</script>