@using Web.Areas.Admin.ViewComponents
@model  PagedResult<PostListViewModel> 
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/admin">首页</a>
            </li>
            <li class="breadcrumb-item active">内容列表 </li>
        </ul>
    </div>
</div>
<section class="forms">
    <div class="container-fluid">
        <!-- Page Header-->
        <header>
            <h1 class="h3 display">内容列表 </h1>
        </header>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">
                        <h4>
                            <a href="/Admin/Post/Edit">
                                <input type="button" value="新增内容" class="btn btn-primary">
                            </a>
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table  table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>内容大类</th>
                                    <th>内容小类</th>
                                    <th>名称</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                @if (Model != null)
                                {
                                    @foreach (var item in Model.Results)
                                    {
                                        <tr>
                                            <th scope="row">@item.Id</th>
                                            <td>@item.PostTypeDisplay</td>
                                            <td>@item.PostCategoryDisplay</td>
                                            <td>@item.Name</td>
                                            <td>@item.CreatedTime.ToString("yyyy-MM-dd HH:mm")</td>
                                            <td>
                                                <a href="/admin/Post/Edit/@item.Id">
                                                    <input type="button" value="编辑" class="btn btn-primary">
                                                </a>
                                                <a href="/admin/Post/Delete/@item.Id">
                                                    <input type="button" value="删除" class="btn btn-primary">
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                }
                                </tbody>
                            </table>
                        </div>

                        @(await Component.InvokeAsync<PaginationViewComponent>(Model))
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>